{% extends "layout.html" %}

{% block title %} Analysis_biv {% endblock %}

{% block content %}

<div class="container" style="margin-top:80px">
  <body>
      <center>
      <h1> Exploratory Analysis | Bivariate Analysis </h1>
      </center>
      <hr style="width:100%;text-align:left;margin-left:0">
      <h2> Pairplot for Numeric Features </h2>
      <center> <img src="/static/images/biv_p2.png" width="60%"> </center>
      <p>
        The above figure is the pairplot of three numeric features: <i>age</i>, <i>avg_glucose_level</i> and <i>bmi</i>. 
        <br>
        Patients with higher age are more likely to have stroke.
        <br>
        A higher average glucose level and a larger bmi are more likely to result in stroke.
      </p>

      <hr style="width:100%;text-align:left;margin-left:0">
      <p>
        <center>
        <form action="/" method="GET">
            <input type="submit" value="Menu">
        </form>
        </center>
        </p>
  </body>
</div>

{% endblock content %}